# Step 1 - Scraping
Complete your initial scraping using Jupyter Notebook, BeautifulSoup, Pandas, and Requests/Splinter.

Create a Jupyter Notebook file called mission_to_mars.ipynb and use this to complete all of your scraping and analysis tasks. The following outlines what you need to scrape.

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests
import pymongo
import re

# NASA Mars News

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

### Example:
news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"

news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [ ]:
# Grader - I could not get this one to run.  I am not sure why no matter the way i tried to do it. 
# it seems like there is one piece I'm just not getting.

In [2]:
executable_path = {'executable_path': '/Users/gsgbootcamp/Downloads/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
# Retrieve page with the requests module
response = requests.get(url)
webpage = response.content

In [5]:
soup1 = BeautifulSoup(webpage, 'html5lib')

In [6]:
marspage = soup1.find_all('div', class_'rollover_description_inner')

SyntaxError: invalid syntax (<ipython-input-6-bcf20004a1c8>, line 1)

In [7]:
soup = BeautifulSoup(response.text, 'html.parser')

In [8]:
soup.body.find_all('p')[0]

In [9]:
news_title = soup.find('a', target='_self')
news_title

In [10]:
news_p = soup.find('div', class_='rollover_description_inner')
news_p[0]

KeyError: 0

In [11]:
news_exp = soup.find('div', class_='article_title')
news_exp

# JPL Mars Space Images - Featured Image


Visit the url for JPL Featured Space Image here.


Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.


Make sure to find the image url to the full size .jpg image.


Make sure to save a complete url string for this image.


### Example:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'

In [12]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [13]:
browser.links.find_by_partial_text('FULL IMAGE').first.click()

In [14]:
browser.links.find_by_partial_text('more info').first.click()

In [15]:
html = browser.html

In [16]:
soup = BeautifulSoup(html, 'html.parser')

In [17]:
image = soup.find_all('img', class_="main_image")[0]['src']

In [18]:
image

'/spaceimages/images/largesize/PIA18851_hires.jpg'

In [19]:
image2 = url2 + image

In [20]:
image2

'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/spaceimages/images/largesize/PIA18851_hires.jpg'

# Mars Weather

Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called mars_weather.
Note: Be sure you are not signed in to twitter, or scraping may become more difficult.
Note: Twitter frequently changes how information is presented on their website. If you are having difficulty getting the correct html tag data, consider researching Regular Expression Patterns and how they can be used in combination with the .find() method.

### Example:
mars_weather = 'Sol 1801 (Aug 30, 2017), Sunny, high -21C/-5F, low -80C/-112F, pressure at 8.82 hPa, daylight 06:09-17:55'

In [21]:
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)
# response = requests.get(url3)

In [22]:
html3 = browser.html
# soup3 = BeautifulSoup(response.text, 'html.parser')
soup3 = BeautifulSoup(html3, 'html.parser')
tweets = soup3.find_all("span", text=re.compile('InSight sol'))

In [23]:
tweets

[<span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 661 (2020-10-05) low -96.5ºC (-141.8ºF) high -13.4ºC (7.8ºF)
 winds from the WNW at 6.6 m/s (14.8 mph) gusting to 21.6 m/s (48.2 mph)
 pressure at 7.60 hPa</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 660 (2020-10-04) low -96.0ºC (-140.7ºF) high -10.7ºC (12.8ºF)
 winds from the WNW at 5.4 m/s (12.2 mph) gusting to 17.2 m/s (38.4 mph)
 pressure at 7.60 hPa</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 659 (2020-10-03) low -96.5ºC (-141.7ºF) high -10.8ºC (12.5ºF)
 winds from the WNW at 5.1 m/s (11.5 mph) gusting to 16.2 m/s (36.3 mph)
 pressure at 7.60 hPa</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 658 (2020-10-02) low -96.6ºC (-141.9ºF) high -14.6ºC (5.7ºF)
 winds from the WNW at 5.6 m/s (12.6 mph) gusting to 21.6 m/s (48.4 mph)
 pressure at 7.60 hPa</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 657 (2020-10-01) low -97.2ºC (-142.9ºF) high -18.0ºC (-0.3ºF)
 winds from the WNW at 8.0 m/s (17.9 mph) gusting to 23.1 m/s (51.7 mph)
 pressure at 7.60 hPa</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 656 (2020-09-30) low -97.3ºC (-143.1ºF) high -19.6ºC (-3.3ºF)
 winds from the WNW at 8.6 m/s (19.2 mph) gusting to 21.9 m/s (49.0 mph)
 pressure at 7.70 hPa</span>,
 <span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 655 (2020-09-29) low -95.3ºC (-139.5ºF) high -18.0ºC (-0.3ºF)
 winds from the WNW at 8.6 m/s (19.3 mph) gusting to 21.2 m/s (47.4 mph)
 pressure at 7.70 hPa</span>]

In [24]:
tweets[0]

<span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 661 (2020-10-05) low -96.5ºC (-141.8ºF) high -13.4ºC (7.8ºF)
winds from the WNW at 6.6 m/s (14.8 mph) gusting to 21.6 m/s (48.2 mph)
pressure at 7.60 hPa</span>

In [25]:
mars_weather = tweets[0].get_text()
mars_weather

'InSight sol 661 (2020-10-05) low -96.5ºC (-141.8ºF) high -13.4ºC (7.8ºF)\nwinds from the WNW at 6.6 m/s (14.8 mph) gusting to 21.6 m/s (48.2 mph)\npressure at 7.60 hPa'

# Mars Facts


Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.


Use Pandas to convert the data to a HTML table string.

In [28]:
urlT = 'https://space-facts.com/mars'
browser.visit(urlT)

In [29]:
tables = pd.read_html(urlT)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [30]:
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [32]:
marsHTML = tables[0]

In [33]:
Mtable = marsHTML.to_html()
Mtable

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [38]:
marsHTML2 = Mtable.replace('\n', '')
marsHTML2

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemispheres


Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.


You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.


Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.


Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.


## Example:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]

In [ ]:
# Grader - i did not get to this one.